<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f380600e-c9ff-439e-ab03-e201b535205c/resourcegroups/bilhetagem/providers/Microsoft.Web/sites/PlataformaSevenAPI</ResourceId>
    <ResourceGroup>bilhetagem</ResourceGroup>
    <ApiResourceId>/subscriptions/f380600e-c9ff-439e-ab03-e201b535205c/resourceGroups/Simplify/providers/Microsoft.ApiManagement/service/GerenciadorFCConciliacaoCobrancaAplicacaoapi/apis/GerenciadorFCConciliacaoCobrancaAplicacao</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://plataformasevenapi-czf4d3ccdea4hvg4.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>543ca7b9-4048-418c-a8e5-a42a0a24ac75</ProjectGuid>
    <MSDeployServiceURL>plataformasevenapi-czf4d3ccdea4hvg4.scm.eastus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlataformaSevenAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>